    @font-face {
        font-family: AmaticSC;
        src: url(../fonts/Amatic_SC/AmaticSC-Regular.ttf);
    }

    @font-face {
        font-family: Montserrat;
        src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: MontserratBold;
        src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }

    .up-case {
        text-transform: uppercase;
    }

    .poi-rel {
        position: relative;
    }

    .poi-ab {
        position: absolute;
    }

    header {
        background-image: url(../images/Header\ Background.png);
        /* height: 100vh; */
        background-repeat: no-repeat;
        background-size: cover;
    }

    img {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .jus-fy-con {
        justify-content: space-around;
        padding: 20px 50px;
    }

    #navbar {
        display: flex;
    }

    #navbar li {
        justify-content: center;
        list-style: none;
        margin-left: 50px;
    }

    #navbar li a {
        display: inline-block;
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        padding: 5px 8px;
    }

    #navbar li a:hover {
        font-weight: 900;
    }

    #mobile {
        display: none;
    }

    #close {
        display: none;
    }

    .col-33 {
        width: 33%;
        text-align: center;
    }

    .pocket-3d {
        left: 0;
        top: -160px;
    }

    .help p {
        width: 58%;
        font-size: 42px;
        line-height: 46px;
        color: #452a31;
        font-weight: 700;
        font-family: AmaticSC;
        margin: 20px auto;
    }

    .help span {
        color: #0072a8;
    }

    .organic p {
        font-size: 67px;
        color: #0072a8;
        font-weight: 700;
        font-family: AmaticSC;
        transform: rotate(-15deg);
        margin: 75px 20px;
    }

    .design1 {
        width: initial;
        top: -50px;
        left: 28px;
        transform: rotate(2deg);
    }

    .design2 {
        width: initial;
        width: 100%;
        top: -50px;
        left: 27px;
    }

    .dog {
        margin-bottom: -4px;
        opacity: 0;
        transform: translateX(-350px);
    }

    /* section2 CSS */

    .sec2 {
        margin: 80px 0px 50px 0px;
        /* padding: 50px auto; */
    }

    .ali-item {
        align-items: initial;
    }

    .our-story {
        font-family: Montserrat;
    }

    .our-story p {
        font-size: 42px;
        letter-spacing: 3px;
        font-weight: 700;
        color: #452a31;
        /* margin: 0 auto; */
    }

    .our-story span {
        display: block;
        font-size: 95px;
        letter-spacing: -2px;
        color: #2ea2d0;
        font-weight: 900;
        margin: -30px 0px 0px 80px;
        font-family: MontserratBold;
    }

    .dog2 {
        width: 80%;
        left: -08px;
        top: -40px;
        opacity: 0;
        transform: translateY(-190px);
    }

    .dog2-des {
        width: initial;
        top: 370px;
        left: 10px;
    }

    .detalis {
        font-family: Montserrat;
        text-align: left;
    }

    .detalis p {
        font-size: 21px;
        line-height: 33px;
        color: #3d3d3d;
        font-weight: 400;
    }

    .detalis a {
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 33px;
        color: #2ea2d0;
        font-weight: 600;
        margin: 20px auto;
    }

    .detalis a:hover {
        font-weight: 900;
        color: #3d3d3d;
    }

    .sml-pack img {
        width: initial;
    }

    /* section3 CSS */

    .sec3 {
        background-image: url(../images/Chicken\ Image.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col {
        width: 100%;
        text-align: center;
    }

    .our-no1 {
        color: #ffffff;
        font-weight: 700;
        font-family: AmaticSC;
        letter-spacing: 5px;
        margin: 50px auto;
    }

    .our-no1 h4 {
        font-size: 33px;
    }

    .our-no1 h3 {
        font-size: 50px;
    }

    .lorem {
        width: 880px;
        margin: 50px auto;
        font-size: 21px;
        line-height: 33px;
        color: #ffffff;
        font-weight: 400;
        font-family: Montserrat;
    }

    /* section4 CSS */

    .container2 {
        width: 85%;
        margin: 50px auto;
    }

    .col-50 {
        width: 50%;
    }

    .perfect-strt {
        text-align: left;
    }

    .perfect-strt :nth-child(1) {
        font-size: 54px;
        line-height: 67px;
        color: #452a31;
        font-weight: 700;
        font-family: AmaticSC;
        margin: 15px 0px;
    }

    .perfect-strt :nth-child(2) {
        font-size: 19px;
        line-height: 33px;
        font-weight: 400;
        font-family: Montserrat;
        margin: 15px 0px;
    }

    .perfect-strt a {
        font-size: 17px;
        line-height: 37px;
        color: #ffffff;
        font-weight: 700;
        font-family: Montserrat;
        background-color: #2ea2d0;
        padding: 5px 10px;
        margin: 15px 0px;
    }

    .perfect-strt a:hover {
        font-weight: 900;
        background-color: #3d3d3d;
    }

    .dog3 {
        text-align: center;
        opacity: 0;
        transform: translateY(-550px);
    }

    .dog3 img {
        width: initial;
    }

    .dog3-des {
        top: 10px;
        right: 90px;
    }

    /* section5 CSS */

    .bg {
        background-color: #f0f0f0;
        margin: 50px auto;
    }

    .about-dog {
        margin: 70px 0px;
    }

    .about-dog p {
        font-size: 33px;
        letter-spacing: 2px;
        line-height: 46px;
        color: #452a31;
        font-weight: 700;
        font-family: AmaticSC;
        margin: 25px 0px;
    }

    .about-dog input {
        width: 67%;
        display: block;
        border: none;
        border-bottom: 2px solid #452a31;
        background-color: #f0f0f0;
        margin: 25px auto;
        padding: 7px 0px;
    }

    .fa-magnifying-glass {
        color: #452a31;
        top: 7px;
        right: 85px;
    }

    .about-dog a {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 46px;
        color: #ffffff;
        background-color: #2ea2d0;
        font-weight: 700;
        font-family: Montserrat;
        padding: 5px 10px;
        margin: 25px 0px;
    }

    .about-dog a:hover {
        background-color: #3d3d3d;
    }

    .dog4 {
        text-align: center;
        opacity: 0;
        transform: translateX(180px);

    }


    .dog4 img {
        width: initial;
        /* top: 0; */
        bottom: -260px;
        left: 80px;
        right: 0;
    }

    .thinking-of-dog {
        margin: 70px 0px;
        text-align: left;
    }

    .thinking-of-dog p {
        font-size: 33px;
        letter-spacing: 2px;
        line-height: 46px;
        color: #452a31;
        font-weight: 700;
        font-family: AmaticSC;
        margin: 25px 0px;
    }

    .thinking-of-dog span {
        display: block;
        width: 90%;
        font-size: 17px;
        line-height: 21px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: Montserrat;
        margin: 25px 0px;
    }

    .thinking-of-dog a {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 46px;
        color: #ffffff;
        font-weight: 700;
        font-family: Montserrat;
        background-color: #2ea2d0;
        padding: 2px 15px;
        margin: 25px 0px;
    }

    .thinking-of-dog a:hover {
        background-color: #3d3d3d;
    }

    /* section6 CSS */

    .packet3 {
        opacity: 0;
        transform: translateX(-180px);
        overflow-x: hidden;
    }

    .packet3 img {
        width: initial;
        margin: 20px auto;
    }


    .find-rit-food {
        width: 100%;
    }

    .find-rit-food :nth-child(1) {
        font-size: 33px;
        letter-spacing: 2px;
        line-height: 46px;
        color: #452a31;
        font-family: AmaticSC;
        font-weight: 700;
        margin: 15px 0px;
    }

    .find-rit-food :nth-child(2) {
        font-size: 17px;
        line-height: 21px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: Montserrat;
        margin: 15px 0px;
    }

    .find-rit-food a {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 46px;
        background-color: #2ea2d0;
        color: #ffffff;
        font-weight: 700;
        font-family: Montserrat;
        padding: 5px 10px;
        margin: 15px 0px;
    }

    .find-rit-food a:hover {
        font-weight: 900;
        background-color: #3d3d3d;
    }

    /* footer */
    .container3 {
        width: 90%;
        margin: 30px auto;
    }

    .bg-footer {
        background-image: url(../images/footer-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col-2 {
        width: 55%;
        margin-left: auto;
    }

    .ft-logo {
        text-align: left;
    }

    .logo-img {
        width: initial;
        top: 50%;
        left: 10%;
        /* right: 70%; */
    }

    .ft-des {
        width: initial;
        margin: 60px 0 0 0px;
    }

    .ft-list {
        width: 53%;
        margin: 0 auto 0 0;
    }

    .ft-list li {
        display: inline-block;
        list-style: none;
    }

    .ft-list li a {
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #452a31;
        font-weight: 700;
        font-family: Montserrat;
        padding: 0px 20px;
    }

    .copy-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .copy-right p {
        font-size: 17px;
        color: #010101;
        font-weight: 500;
        font-family: Montserrat;
    }

    .social-icon i {
        font-size: 25px;
        color: #2ea2d0;
        margin: 0px 5px;
        cursor: pointer;
        /* border-radius: 20px; */
        transition: all 0.12s ease;
    }

    .social-icon i:hover {
        color: #3ec2ff;
        transform: scale(1.3);
    }

    .animated {
        opacity: 1;
        transition: all 0.8s ease-in-out;
        transform: translateX(0px);
        /* overflow-x: hidden; */
    }

    .animated2 {
        opacity: 1;
        transition: all 0.8s ease-out;
        transform: translateY(0px);
        overflow: hidden;
    }

    .animated3 {
        opacity: 1;
        transition: all 0.8s ease-in-out;
        transform: rotateX(0deg);
    }
    #navbar li a.active::after{
        content: "";
        width: 30%;
        height: 2px;
        background: #08beb2;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }

    @media (max-width:576px) {
        .container {
            width: 100%;
        }

        .container2 {
            width: 100%;
        }

        #navbar{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100vh;
            width: 250px;
            background-color: #4ea4f4;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
            padding: 50px 0 0 5px;
            transition: 0.3s;
            z-index: 1;
        }
        .jus-fy-con {
            justify-content: space-around;
            padding: 0px;
        }
        #navbar.active {
            right: 0px;
        }

        #mobile {
            display: flex;
            align-items: center;
        }
    
        #mobile i {
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;
        }
    
        #close {
            display: block;
            top: 30px;
            left: 30px;
            position: absolute;
            font-size: 24px;
            color: #222;
        }

        .container3 {
            width: 100%;
        }

        img {
            width: 50%;
        }

        .help p {
            width: 100%;
        }

        .organic p {
            font-size: 30px;
            margin: 0px 30px;
            transform: rotate(0deg);
        }

        .design1 {
            width: 0%;
        }

        .design2 {
            width: 0%;
        }

        .col-33 {
            width: 100%;
        }

        .pocket-3d {
            width: 40%;
            top: 109px;
            left: -40px;
        }

        .col-50 {
            width: 100%;
        }

        .dog img {
            width: 0%;
        }

        /* section2 */

        .dog2 {
            width: 0%;
        }

        .dog2-des {
            width: 0%;
        }

        .our-story span {
            margin: -36px 0 0 0px;
        }

        .sml-pack img {
            width: 80%;
        }

        /* section3 */
        .lorem {
            width: 100%;
        }

        /* section4 */
        .dog3 .img {
            width: 80%;
        }

        .dog3 .dog3-des {
            top: 10px;
            right: 0px;
        }

        /* section5 */
        .dog4 {
            transform: translateY(-80px);
        }

        .dog4 img {
            width: 23%;
            bottom: -146px;
            left: 8px;
            transform: scaleX(-1);
        }

        .thinking-of-dog {
            text-align: center;
        }

        .thinking-of-dog span {
            margin: 25px auto;
        }

        /* footer */
        .bg-footer {
            background-size: cover;
        }

        .col-2 {
            width: 100%;
        }

        .logo-img {
            width: 50%;
            top: 0;
            left: 0;
        }

        .ft-des {
            width: 0%;
        }

        .ft-list li a {
            padding: 10px 0px;
        }
    }

    /* @media (min-width:576px) {
        .container {}

        .container2 {}

        .container3 {}

    } */

    @media (min-width:768px) {

        .container {
            width: 100%;
        }

        .jus-fy-con {
            padding: 0px;
        }

        img {
            width: 100%;
        }

        .container2 {
            width: 100%;
        }

        .container3 {
            width: 100%;
        }

        .help p {
            width: 100%;
            font-size: 37px;
            margin: 0px auto;
        }

        .organic p {
            font-size: 43px;
            margin: 20px 0px;
            transform: rotate(2deg);
        }

        .pocket-3d {
            width: 100%;
            top: -60px;
            left: -60px;
        }

        .design1 {
            width: 97%;
            top: -27px;
            left: 0px;
            transform: rotate(10deg);
        }

        .design2 {
            width: 100%;
            top: 0px;
            left: 0px;
        }


        /* section2 */
        .dog2 {
            width: 100%;
            left: -30px;
            top: 18px;
        }

        .dog2-des {
            width: 0;
        }

        .sml-pack img {
            width: 100%;
        }

        .our-story span {
            font-size: 70px;
            margin: -30px 0 0 50px;
        }

        /* section3 */
        .lorem {
            width: 100%;
        }

        .dog3-des {
            right: 0px;
        }

        .dog4 img {
            left: 20px;
        }

        /* footer */
        .bg-footer {
            background-size: cover;
        }

        .col-2 {
            width: 100%;
        }

        .logo-img {
            width: 27%;
            top: 0;
            left: 0;
        }

        .ft-des {
            width: 0%;
        }

        .ft-list {
            width: 21%;
        }

        .ft-list li a {
            padding: 10px 0px;
        }

    }

    @media (min-width:992px) {
        .container {
            width: 100%;
        }

        .container2 {
            width: 85%;
        }

        .container3 {
            width: 90%;
        }

        .jus-fy-con {
            padding: 0px;
        }

        img {
            width: 100%;
        }

        .dog2 {
            width: 100%;
            left: -30px;
            top: 18px;
        }

        .help p {
            width: 90%;
            margin: 0px auto;
        }

        .organic p {
            font-size: 38px;
            margin: 20px 0px;
            transform: rotate(2deg);
        }

        .pocket-3d {
            width: 100%;
            top: -100px;
            left: -80px;
        }

        .design1 {
            width: 76%;
            top: -19px;
            left: 30px;
            transform: rotate(10deg);
        }

        .design2 {
            width: 100%;
            top: -3px;
            left: 3px;
        }

        .col-2 {
            width: 47%;
        }

        .ft-des {
            width: 82%;
            margin: 60px 0 0 0px;
        }

        .logo-img {
            width: initial;
            top: 50%;
            left: 10%;
        }

        .ft-list {
            width: 85%;
        }

        .ft-list li a {
            padding: 0px 20px;
        }

    }

    @media (min-width:1200px) {
        .container {
            width: 100%;
        }

        .container2 {
            width: 85%;
        }

        .container3 {
            width: 90%;
        }

        .col-33 {
            width: 33%;
        }

        .col-50 {
            width: 50%;
        }

        .help p {
            width: 58%;
        }

        .organic p {
            font-size: 67px;
            transform: rotate(-15deg);
            margin: 75px 20px;
        }

        .design1 {
            width: initial;
            top: -50px;
            left: 28px;
            transform: rotate(2deg);
        }

        .design2 {
            width: initial;
            width: 100%;
            top: -50px;
            left: 27px;
        }

        .dog2 {
            width: 80%;
            left: -08px;
            top: -40px;
        }

        /* footer */
        .col-2 {
            width: 55%;
        }

        .logo-img {
            width: initial;
            top: 50%;
            left: 10%
        }

        .ft-des {
            width: initial;
            margin: 60px 0 0 0px;
        }

        .ft-list {
            width: 53%;
        }

        .ft-list li a {
            padding: 0px 20px;
        }


    }